<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Chamber of Secrets - ITRIX 20</title>
	<meta charset="utf-8">
 <meta name="viewport" content="width=device-width, initial-scale=1">
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/css/style.css">
	<link rel="stylesheet" type="text/css" href="/css/ham.css">
</head>
<body>
	<div class="menu-wrap">
		<input type="checkbox" class="toggler">
		<div class="hamburger"><div></div></div>
		<div class="menu">
		  <div>
			<div>
			  <ul>
				<li><a href="/logged/">Home</a></li>
				<li><a href="/leader/">Leader Board</a></li>
				<li><a href="/rules/">Rules</a></li>
				<li><a href="/developer/">Developer's Team</a></li>
				<li><a href="/logout/">Logout</a></li>
				
			  </ul>
			</div>
		  </div>
		</div>
	  </div>
	<section class="main-content">
		<div class="container">
			<h1 class="page-title text-center">Meet the <b>Team</b></h1>
			<div class="row">
				<div class="col-md-3 col-sm-4">
					<div class="profile-card">
						<div class="profile-card_cover">
							<img src="/asset/our-team-cover-background.png" alt="">
						</div>
						<div class="profile-card_padding">
							<div class="profile-card_image">
								<img src="/asset/users/ragul.jpg" alt="">
							</div>
							<div class="profile-card_details">
								<h3>Ragul</h3>
								<p class="text-muted">Back-end Developer</p>
							</div>
						</div>
					</div>
				</div>

				<div class="col-md-3 col-sm-4">
					<div class="profile-card">
						<div class="profile-card_cover">
							<img src="/asset/our-team-cover-background.png" alt="">
						</div>
						<div class="profile-card_padding">
							<div class="profile-card_image">
								<img src="/asset/users/muru2.jpg" alt="">
							</div>
							<div class="profile-card_details">
								<h3>Murugan Arumugam</h3>
								<p class="text-muted">Front-end Developer</p>
							</div>
							
						</div>
					</div>
				</div>

				<div class="col-md-3 col-sm-4">
					<div class="profile-card">
						<div class="profile-card_cover">
							<img src="/asset/our-team-cover-background.png" alt="">
						</div>
						<div class="profile-card_padding">
							<div class="profile-card_image">
								<img src="/asset/users/ramanan.jpg" alt="">
							</div>
							<div class="profile-card_details">
								<h3>Ragavendhra Ramanan</h3>
								<p class="text-muted">Front-end Developer</p>
							</div>
						
						</div>
					</div>
				</div>

				<div class="col-md-3 col-sm-4">
					<div class="profile-card">
						<div class="profile-card_cover">
							<img src="/asset/our-team-cover-background.png" alt="">
						</div>
						<div class="profile-card_padding">
							<div class="profile-card_image">
								<img src="/asset/users/praga.png" alt="">
							</div>
							<div class="profile-card_details">
								<h3>Praghadeesh</h3>
								<p class="text-muted">Back-end Developer</p>
							</div>
							
						</div>
					</div>
				</div>

				<div class="col-md-3 col-sm-4">
					<div class="profile-card">
						<div class="profile-card_cover">
							<img src="/asset/our-team-cover-background.png" alt="">
						</div>
						<div class="profile-card_padding">
							<div class="profile-card_image">
								<img src="/asset/users/akil.jpg" alt="">
							</div>
							<div class="profile-card_details">
								<h3>Akil Vishnu</h3>
								<p class="text-muted">Front-end Developer</p>
							</div>
													</div>
					</div>
				</div>

				<div class="col-md-3 col-sm-4">
					<div class="profile-card">
						<div class="profile-card_cover">
							<img src="/asset/our-team-cover-background.png" alt="">
						</div>
						<div class="profile-card_padding">
							<div class="profile-card_image">
								<img src="/asset/users/venkat.jpg" alt="">
							</div>
							<div class="profile-card_details">
								<h3>Venkat Karthick</h3>
								<p class="text-muted">Back-End Developer</p>
							</div>
							
						</div>
					</div>
				</div>

				<div class="col-md-3 col-sm-4">
					<div class="profile-card">
						<div class="profile-card_cover">
							<img src="/asset/our-team-cover-background.png" alt="">
						</div>
						<div class="profile-card_padding">
							<div class="profile-card_image">
								<img src="/asset/users/harinarayanan1.jpg" alt="">
							</div>
							<div class="profile-card_details">
								<h3>Hari Narayanan</h3>
								<p class="text-muted">Back-End Developer</p>
							</div>
							
						</div>
					</div>
				</div>

				<div class="col-md-3 col-sm-4">
					<div class="profile-card">
						<div class="profile-card_cover">
							<img src="/asset/our-team-cover-background.png" alt="">
						</div>
						<div class="profile-card_padding">
							<div class="profile-card_image">
								<img src="/asset/users/bala.jpg" alt="">
							</div>
							<div class="profile-card_details">
								<h3>Bala subramaniam</h3>
								<p class="text-muted">Back-End Developer</p>
							</div>
							
						</div>
					</div>
				</div>

                <div class="col-md-3 col-sm-4">
					<div class="profile-card">
						<div class="profile-card_cover">
							<img src="/asset/our-team-cover-background.png" alt="">
						</div>
						<div class="profile-card_padding">
							<div class="profile-card_image">
								<img src="/asset/users/harsha2.jpg" alt="">
							</div>
							<div class="profile-card_details">
								<h3>Harsha Vardhan</h3>
								<p class="text-muted">Back-End Developer</p>
							</div>
							
						</div>
					</div>
				</div>

				<div class="col-md-3 col-sm-4">
					<div class="profile-card">
						<div class="profile-card_cover">
							<img src="/asset/our-team-cover-background.png" alt="">
						</div>
						<div class="profile-card_padding">
							<div class="profile-card_image">
								<img src="/asset/users/ravi.jpg" alt="">
							</div>
							<div class="profile-card_details">
								<h3>Ravi Kumar</h3>
								<p class="text-muted">Back-End Developer</p>
							</div>
						
						</div>
					</div>
				</div>

				<div class="col-md-3 col-sm-4">
					<div class="profile-card">
						<div class="profile-card_cover">
							<img src="/asset/our-team-cover-background.png" alt="">
						</div>
						<div class="profile-card_padding">
							<div class="profile-card_image">
								<img src="/asset/users/dhrisha.jpeg" alt="">
							</div>
							<div class="profile-card_details">
								<h3>Dhrisha</h3>
								<p class="text-muted">Front-End Developer</p>
							</div>
						
						</div>
					</div>
				</div>
				<div class="col-md-3 col-sm-4">
					<div class="profile-card">
						<div class="profile-card_cover">
							<img src="/asset/our-team-cover-background.png" alt="">
						</div>
						<div class="profile-card_padding">
							<div class="profile-card_image">
								<img src="/asset/users/hari.jpg" alt="">
							</div>
							<div class="profile-card_details">
								<h3>Hariharan</h3>
								<p class="text-muted">Back-End Developer</p>
							</div>
							
						</div>
					</div>
				</div>
				<div class="col-md-3 col-sm-4">
					<div class="profile-card">
						<div class="profile-card_cover">
							<img src="/asset/our-team-cover-background.png" alt="">
						</div>
						<div class="profile-card_padding">
							<div class="profile-card_image">
								<img src="/asset/users/kowshalya.jpg" alt="">
							</div>
							<div class="profile-card_details">
								<h3>S.Koushalya</h3>
								<p class="text-muted">Back-End Developer</p>
							</div>
						
						</div>
					</div>
				</div>

			</div>
		</div>
				
	</section>

	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</body>
</html>
