<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="/css/ham.css">
    <link rel="stylesheet" href="/css/rules.css">
</head>
<body>
    <%- include('includes/navigation.ejs') %>
    <div class="rules" id="rules" >
           
        <div class="container-fluid rule">
           <h1>Rules</h1>
           
           <div class="row justify-content-center r1">
               <div class="col-10 col-md-8 one">
               <span class="enclosed">Rule1</span> This is a treasure kind of a game in which the participant should try to find the answer by identifying the similarity and connecting the given images. </div>
           </div>
           <div class="row justify-content-center r2">
               <div class="col-10 col-md-8 one">
               <span class="enclosed">Rule2</span>   The game will be live for three days.
                   </div>
           </div>
           <div class="row justify-content-center r3">
               <div class="col-10 col-md-8 one">
               <span class="enclosed">Rule3</span>    Each day is independent and one winner will be chosen each day.
                   </div>
           </div>
           <div class="row justify-content-center r4">
               <div class="col-10 col-md-8 one">
               <span class="enclosed">Rule4</span>  The UI of the website has no relation to the questions.
                   </div>
           </div>
           <div class="row justify-content-center r5">
               <div class="col-10 col-md-8 one">
               <span class="enclosed">Rule5</span> Clues will be updated periodically in the specified time.
                   </div>
           </div>
        
           

           
       </div>
   </div>

   </div>

</body>
</html>